:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-dark: #272635;
  --theme-highlight: #18768C;
  --theme-gray: #79797C;
  --theme-white-low-opacity: #ffffffde;
  --theme-white: #ffffff;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100dvh;
}

a {
  font-weight: 500;
  color: #21A0C0;
  text-decoration: inherit;
}

a:hover {
  color: #23AFD1;
}

h1, h2, h3, h4, h5 {
  margin: .5rem 0 !important;
}

#app {
  display: flex;
  height: 100%;
}

.codementor-badge {
  width: auto !important;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column-reverse;
  }

  p {
    font-size: .9em;
  }
}

.no-margin {
  margin: 0 !important;
}

.p-fieldset-legend-text {
  color: var(--theme-highlight);
}
