:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e8e9f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100dvh;
}

#app {
  display: flex;
  height: 100%;
}

.codementor-badge {
  width: auto !important;
}

.reduced-margin {
  margin: .5rem 0;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column-reverse;
  }
}

a {
  font-weight: 500;
  color: #21A0C0;
  text-decoration: inherit;
}
a:hover {
  color: #23AFD1;
}

p {
  font-size: .9rem;
}

.no-margin {
  margin: 0 !important;
}

/*
  Ghost white: #E8E9F3
  Silver: #CECECE
  French gray: #A6A6A8
  Raisin black: #272635
  non photo blue: #B1E5F2
*/
/* 353347 */
